<%- include("../partials/header") %> 

<div class="container mt-5 w-75">
    <div class="row">
        <div class="col-md-3">
            <p class="lead ml-3 mb-1">Highlights</p>
            <div class="list-group">
                <li class="list-group-item">Good Views</li>
                <li class="list-group-item">Cheap</li>
                <li class="list-group-item">Family Friendly</li>
            </div>
        </div> <!-- left column -->
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img-cover" src="<%= campground.image %>" alt="Card image cap">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-md-9">
                            <a href=""><h3 class="card-title"><%= campground.name %></h3></a>
                        </div>
                        <div class="col-md-3">
                            <% if(campground.price) {%> 
                                <p class="text-right">$<%= campground.price %>/night</p>
                            <% } %> 
                        </div>
                    </div>                     
                    <p><%= campground.description%> </p>
                    <p class="text-right font-italic">Created By <%= campground.author.username %></p>
                    <% if (currentUser && currentUser._id.equals(campground.author.id)){ %>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <a href="/campgrounds/<%= campground._id %>/edit"><button class="btn btn-warning btn-sm btn-block">Edit</button></a>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <form action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
                                    <button class="btn btn-danger btn-sm mb-2 mt-2 btn-block" name="campground" value="<%= campground._id %>">Delete Campground</button>        
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="card-body pt-1">
                    <span id="separation-line"></span>              
                    
                    <!-- Loop over all comments -->
                    <% for(const comment of campground.comments){ %>
                        <div class="row border mt-4 m-2 bg-light">                            
                            <div class="col-md-8">
                                <h5><%= comment.author.username%></h5>
                            </div>
                            <div class="col-md-4 text-right">
                                <p>6 days ago</p>
                            </div>
                            <div class="col-md-12">                                
                                <p>
                                    <%= comment.text %>
                                </p>
                                
                                <!-- Check if author is logged in for displaying of buttons -->
                                <% if (currentUser && currentUser._id.equals(comment.author.id)){ %> 
                                    <div class="row justify-content-end mb-2">
                                        <div class="col-md-1 p-0 m-0">

                                            
                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalCenter" data-comment="<%= JSON.stringify(comment) %>" data-campground="<%= JSON.stringify(campground) %>">                                                 <i class="far fa-edit"></i>
                                            </button>                                              

                                        </div>
                                        <div class="col-md-1 m-0 p-0">
                                            <form action="/campgrounds/<%= campground._id %>/comments?_method=DELETE " method="POST">
                                                <button class="btn btn-danger btn-sm" name="comment_id" value="<%= comment._id %>"><i class="fas fa-trash-alt"></i></button>        
                                            </form>
                                        </div>                                                      
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                    <% } %> 
                    <form class=" m-1 mt-3" action="/campgrounds/<%= campground._id %>/comments"  method="POST">
                        <div class="form-row">
                            <div class="col-10">
                                <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" placeholder="Comment" rows="2" required></textarea>
                            </div>
                            <div class="col-2 text-center">
                                <button type="submit" class="btn btn-primary mt-2">Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- Campground Card -->
        </div> <!-- right column -->
    </div> <!-- row -->
</div> <!-- container -->

<!-- Modal Template -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editForm" class="m-1 mt-3" action=""  method="POST">
                <div class="form-row">
                    <h1 id="testTitle"></h1>
                    <div class="col-12">
                        <textarea class="form-control" name="comment" id="commentText" rows="2"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-around">
                        <div class="col-2 text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-2 text-center">
                            <button id="submitButton" type="submit" class="btn btn-primary" name="comment_id" value="">Comment</button>
                        </div>
                </div>
            </form>                                                    
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>            
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script>
    $('#exampleModalCenter').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget) // Button that triggered the modal
        const comment = button.data('comment') // Extract info from data-* attributes
        const campground = button.data('campground')
        
        console.log(comment)
        console.log(comment.text)
        console.log(campground)
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + comment.author.username)
        modal.find('#commentText').val(comment.text)
        modal.find('#editForm').attr('action', '/campgrounds/' + campground._id + '/comments?_method=PUT')
        modal.find('#submitButton').val(comment._id)
    })
</script>

 </body>
</html>

