<%- include("../partials/header") %> 

<h1>You selected <%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description%> </p>

<% for(const comment of campground.comments){ %>
    <p><%= comment.author %> - <%= comment.text %></p>
    <form action="/campgrounds/<%= campground._id %>/comments?_method=DELETE " method="POST">
        <button name="comment" value="<%= comment._id %>">DELETE</button>        
    </form>
<% } %> 

<form action="/campgrounds/<%= campground._id %>/comments"  method="POST">
    <textarea name="comment" id="" cols="30" rows="10" placeholder="Comment"></textarea>
    <input type="submit" name="" id="">
</form>

<%- include("../partials/footer") %> 